@using System.Data;
@using Proyecto.Models
@model Usuario
@{
    ViewBag.Title = "Inicio";
    DataSet ds = ((DataSet)ViewBag.ElDataSet);
}





        <div class="container-fluid">

            @Html.ListBoxFor(x => x.)
            @Html.ListBoxFor(m => m.IncludeGuestsArrivedInTimeframeYears, Model.TimeframeYears)
        </div>

