@using System.Data;
@using Proyecto.Models
@model Usuario
@{
    ViewBag.Title = "Inicio";
    DataSet ds = ((DataSet)ViewBag.ElDataSet);
}

@{
    String titulo;
    List<String> lstColumnas = new List<string>();
    @foreach (DataColumn dc in ds.Tables[0].Columns)
    {
        titulo = dc[0].ToString();
    }



        <div class="container-fluid">

            @Html.DropDownListFor(x =>x.valor1, )
        </div>

